---
import AddButton from "@/components/add-button"

const { category, name, price, image } = Astro.props
---

<article>
  <div>
    <picture>
      <source media="(min-width: 1024px)" srcset={image.desktop} />
      <source media="(min-width: 640px)" srcset={image.tablet} />
      <img src={image.mobile} alt={name} />
    </picture>
    <AddButton name={name} image={image.thumbnail} price={price} client:load />
  </div>
  <h3>{category}</h3>
  <h4>{name}</h4>
  <span>{price}</span>
</article>
